/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// 前端的部分样式
 .list-group-item a {
   display: block;
 }
 .msrp {
   text-decoration: line-through;
 }


// 商品首页瀑布流展示

 #pins {
   margin: 0 auto;
   width: 100%;
   .box {
      margin: 10px;
      width: 250px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      text-align: center;
    padding: 0px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
 }


//定制购物车弹窗样式
 .media {
   &.shopping-cart-row {
     border-bottom: 1px solid #ccc;

     &:last-child {
       border-bottom: 0;
     }
   }
 }
 a.add-to-cart-btn {
   i {
     display: none;
   }
 }
